{% extends 'base.html' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" style="vertical-align: middle" scope="col">Stock Name</th>
                <!-- Dictionary of dictionaries-->
                {% for i in ticker_attribute  %}
                    <th class="text-center" style="vertical-align: middle" scope="col">{{ i }}</th>
                {% endfor %}
                <th class="text-center" style="vertical-align: middle" scope="col">Analysis</th>
                <th class="text-center" style="vertical-align: middle" scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for stock_ticker, data in api.items %}
                <tr>
                    <td class="text-center" style="vertical-align: middle">{{ stock_ticker }}</td>
                    {% for i in data %}
                        <td class="text-center" style="vertical-align: middle">{{ i }}</td>
                    {% endfor %}
                    <td class="text-center" style="vertical-align: middle">Analysis</td>
                    <td class="text-center" style="vertical-align: middle"><a href="{% url 'delete' stock_ticker %}"> Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}